img { border: none; }
ul {margin:0; list-style-type:none;}
fieldset { border: none; margin:0; padding: 0;}
a {color:#3CA2A2;}
a:hover {color:#215A6D;}
legend { display: none; }
.hidden { display:none;}
.clear {clear:both;}

body{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	background:#fff;
}

header {padding:5px; background-color: #2D2D29; overflow: hidden;}
header h1 { margin:5px 10px 0px 10px; padding:0; color: #DFECE6; font-size:1.8em; float:left;}
header #logo {float:right; margin: 0;}
article.usabilityTest {background-color: #fff; border:solid 1px #493736; float:left; margin:5px 10px; width:48%; }
article.usabilityTestResults {background-color: #fff; border:solid 1px #493736; float:left; margin:5px 10px; width:48%; }
.usabilityTestInfo figure {margin:0; padding: 0;}
.usabilityTestInfo, .usabilityTestResultsInfo {border-bottom:solid 1px #493736; padding:5px; overflow: hidden;}
.usabilityTestInfo img {float:left; }
.usabilityTestInfo .usabilityTestBackground {float:left; width:100%;}
.usabilityTestInfo h3, .usabilityTestInfo .usabilityTestBackground h4, .usabilityTestInfo .usabilityTestBackground h5, .usabilityTestObjectives h5,.usabilityTestDetails h4, .usabilityTestDetails h5, .usabilityTestScenarios h5, .otherDetails h5, .usabilityTestResults h5, .usabilityTestResults h4, .usabilityTestResults h3 {margin:0 0 5px; padding:5px; background-color: #2D2D29; color: #DFECE6; }
.usabilityTestInfo .usabilityTestBackground ul, .usabilityTestDetails ul, .usabilityTestScenarios ul, .otherDetails ul, .usabilityTestResults ul {margin:0; padding:0 5px;}
.usabilityTestInfo p, .usabilityTestDetails p, .usabilityTestScenarios p, .otherDetails p, .usabilityTestObjectives p, .usabilityTestResults p {margin:2px; padding:0;}

.usabilityTestDetails ul li, .usabilityTestObjectives ul li, .usabilityTestResults ul li {list-style-type: square; margin:0 0 0 15px;}
.usabilityTestDetails {border-bottom:solid 1px #493736; overflow: hidden; padding: 5px;}
.usabilityTestDetails .detailsLeft h5 {padding: 5px;}
.usabilityTestDetails .detailsLeft {width:49%; float:left; margin-right:5px;}
.usabilityTestDetails .detailsLeft .leftGroup {}
.usabilityTestDetails .detailsRight {width:49%; float: right; }

.usabilityTestScenarios, .otherDetails, .usabilityTestObjectives {clear:both; padding:5px; overflow: hidden;}
.usabilityTestScenarios, .usabilityTestObjectives {border-bottom:solid 1px #493736;}

.testTable {border-collapse:collapse; width:100%;}
.testTable .testTableTh {border:1px solid #ccc; padding:3px; background-color:#ddd; text-align:center;}
.testTable .testTableTd {border:1px solid #ccc; padding:3px;}
footer {clear:both; margin:5px 10px; padding:0;}

#usabilityTestGreeting, #usabilityTestConsent {margin:0 auto; width:70%;}

@media screen and (max-width:1200px){
	.usabilityTestInfo .usabilityTestBackground {float:left; width:100%; margin-top:5px;}
}
@media screen and (max-width:1120px){
	.usabilityTestDetails .detailsLeft, .usabilityTestDetails .detailsRight {width:100%; float: left; }
	article.usabilityTest, article.usabilityTestResults {width:98%; margin: 5px 2px;} 
}

@media print {
	
	body{
		margin:0;
		padding:0;
		font-family:Arial, Helvetica, sans-serif;
		font-size:14px;
		background:#fff;
	}
	header {margin: 0;}
	header #logo {display: none;}
	article.usabilityTest, article.usabilityTestResults {width:99%; margin:10px 2px;} 
	.usabilityTestInfo h3, .usabilityTestInfo .usabilityTestBackground h4, .usabilityTestInfo .usabilityTestBackground h5, .usabilityTestObjectives h5,.usabilityTestDetails h4, .usabilityTestDetails h5, .usabilityTestScenarios h5, .otherDetails h5, .usabilityTestResults h5, .usabilityTestResults h4, .usabilityTestResults h3 {margin:0 0 2px; padding:5px; background-color: #ccc; color: #111; 
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
}
